/* format and container size*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FEFEFE;
}

.logIn {
    width: 640px;
    height: 537px;
    border: 0.5px solid #c4c4c4;
    box-shadow: 3px 6px 10px #c4c4c4;
}

.content {
    margin: auto;
    left: 50%;
    right: 50%;
    text-align: left;
    width: 436px;
    padding: 0%;
}

h1 {
    margin: 0px;
    padding-top: 76px;
    padding-bottom: 18.28px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 40px;
}

/*email and password*/
.label {
    padding-top: 23px;
    padding-bottom: 8.27px;
    font-size: 18px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    border-radius: 0%;
    border: 1px solid #8f8f8f;
}

input:focus {
    outline: none;
    box-shadow: 3px 6px 10px #8f8f8f;
}

/*toggle password icon format*/
.passwordToggle {
    width: 32px;
    height: 29px;
    display: inline; 
    margin-left: -10%; 
    vertical-align: middle
}

/*forgot password?*/
.forgotPass {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 13.25px;
    font-size: 16px;
    font-weight: 500;
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #314D89;
}

/*log in button*/
button {
    width: 100%;
    height: 55px;
    border-style: none;
    font-size: 18px;
    background-color: #314D89;
    color: white;
    font-family: Rubik, sans-serif;
}

button:hover {
    box-shadow: 3px 6px 10px #8f8f8f;
}

/*don't have an account?*/
.signUp {
    text-align: center;
    font-size: 16px;
    margin-top: 39.12px;
    font-weight: 400;
    font-family: Rubik, sans-serif;
}

.createAcc {
font-weight: 500;
}